
// Spacing
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
$spacing-5: 1.5rem;
$spacing-6: 2rem;
$spacing-7: 2.5rem;

// Colors

$white: #ffffff;

// Dark shades
$black-500: #272932;
$black-400: #969CB2;
$black-300: #DCE0EE;
$black-200: #E9ECF4;
$black-100: #F1F3F8;

// Blue shades
$blue-primary: #182FFA;
$blue-secondary: #4A5CFD;

// Orange shades
$orange-primary: #FFD79B;
$orange-secondary: #FFF5E7;

// Green shades
$green-primary: #03773F;
$green-secondary: #DBF8EA;

// Red
$red: #F81111;


$radius-normal: 0.5rem;
$radius-large: 0.75rem;

$mobile-breakpoint: 576px;
$tablet-breakpoint: 992px;